.breed {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid lightgray;
  padding: 5px;
  border-radius: 10px;
  height: 1.5rem;

  font-size: 1.6rem;
  margin-right: 0.8rem;
  margin-bottom: 0.7rem;
}
