.dog-list-container {
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 2rem;
  background-color: lightblue;
  overflow: scroll;
  width: 100%;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5rem;
  font-size: 2.8rem;

  height: 70vh;
  width: 100%;
  background-color: cornsilk;
}
