.breed {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid lightgray;
  padding: 5px;
  border-radius: 10px;
  height: 2rem;
  font-size: 1.6rem;
  margin-right: 0.8rem;
  margin-bottom: 0.7rem;
  outline: none;
  cursor: pointer;
  background-color: rgb(201, 226, 250);
}
